{% extends 'base.html.twig' %}

{% block body %}
	<footer>
		<div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ 'C:/Users/emili/OneDrive/Bureau/IPPSI/SYMFONY/Projet Licorne/src/Controller/PalierController.php'|file_link(0) }}">src/Controller/PalierController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ 'C:/Users/emili/OneDrive/Bureau/IPPSI/SYMFONY/Projet Licorne/templates/palier/index.html.twig'|file_link(0) }}">templates/palier/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div>
	</footer>
{% endblock %}
