{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            opacity: 70%;
            background: url('{{ asset('assets/images/win.png') }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>

    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <h1>Bravo !</h1>
        <a href="{{ path('app_licorne_index')}}" class="btn btn-warning">Retour au scoreboard</a>
    </div>
{% endblock %}
