{% extends 'base.html.twig' %}

{% block title %}Créer une licorne{% endblock %}

{% block body %}
    <h1>Créer une licorne</h1>

    {{ include('licorne/_form.html.twig') }}

    <a href="{{ path('app_licorne_index') }}">Retourn au scoreboard</a>
{% endblock %}
