{% extends 'base.html.twig' %}

{% block title %}New Licorne{% endblock %}

{% block body %}
    <h1>Create new Licorne</h1>

    {{ include('licorne/_form.html.twig') }}

    <a href="{{ path('app_licorne_index') }}">back to list</a>
{% endblock %}
