{% extends 'base.html.twig' %}
{% block body %}
	<div class="container mt-5">
		<h1>Page Admin</h1>
		<div class="container">
			<h2>Scénarios</h2>
			<a class="btn btn-primary mb-2" href="{{ path('app_scenario_index') }}">Liste des scénarios</a><br>
			<a class="btn btn-secondary mb-2" href="{{ path('app_scenario_new') }}">Créer un scénario</a><br>
		</div>
		<div class="container">
			<h2>Choix</h2>
			<a class="btn btn-primary mb-2" href="{{ path('app_choix_index') }}">Liste des choix</a><br>
			<a class="btn btn-secondary mb-2" href="{{ path('app_choix_new') }}">Créer un choix<a><br>
				</div>
				<a style="margin-top: 5rem;" class="btn btn-warning mb-2" href="http://127.0.0.1:8000/">Retourn à l'accueil<a>

					</div>
				{% endblock %}
